



<p>+++
banner = &ldquo;&rdquo;
categories = []
date = &ldquo;2016-09-15T12:39:44+05:30&rdquo;
description = &ldquo;&rdquo;
images = []
menu = &ldquo;&rdquo;
tags = [&ldquo;jdk&rdquo;,&ldquo;java&rdquo;]
title = &ldquo;How to install and setup JDK in Fedora 24&rdquo;</p>

<p>+++</p>

<p>##How to install Oracle JDK 8 on Fedora 24</p>

<h2 id="first-step-downloading-oracle-jdk">First Step: Downloading Oracle JDK.</h2>

<ul>
<li>Download Oracle JDK from <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html">here</a></li>
<li>select Linux x64 and .rpm file</li>
<li>After Downloading , open the command prompt
and install using following command.</li>
</ul>

<h4 id="installation">Installation</h4>

<pre><code class="language-bash">   rpm -ivh jdk-&lt;version&gt;-linux-x64.rpm
</code></pre>

<p>#### Upgrading to new version</p>

<pre><code class="language-bash">  rpm -Uvh jdk-&lt;version&gt;-linux-x64.rpm
</code></pre>

<p>Note:This will install Oracle JDK 8 in /usr/java/jdk-version.</p>

<h4 id="choose-alternatives">Choose Alternatives</h4>

<p>######Configuring to use oracle jdk</p>

<pre><code class="language-bash">$ alternatives --config java
$ alternatives --config javac
$ alternatives --config javaws
</code></pre>

<p>######Verifying</p>

<p>$ alternatives &ndash;list | grep /usr/java
 javaws  manual  /usr/java/jdk1.8.0_74/bin/javaws
 javac   manual  /usr/java/jdk1.8.0_74/bin/javac
 java    manual  /usr/java/jdk1.8.0_74/jre/bin/java</p>

<h2 id="checking-the-installation-of-oracle-jdk">Checking the installation of Oracle JDK</h2>

<pre><code class="language-bash">   $ java -version
   java version &quot;1.8.0_102&quot;
   Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
   Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

   $ javac -version
    javac 1.8.0_102
</code></pre>
